pandas~=2.3.3
numpy~=1.26.4
pynput~=1.8.1
PyAutoGUI~=0.9.54
screeninfo~=0.8.1
opencv-python~=4.8.1.78
mediapipe~=0.10.21
joblib~=1.5.2
tensorflow~=2.19.1
matplotlib~=3.10.7
seaborn~=0.13.2
scikit-learn~=1.7.2